extends ./template/_layout
block vars
  - var key = "top"
  include ./template/_config
  - var page = pages[key]

block contents
  .hero
    .content-width.hero__inner
      .top-copy-area
        h1.head-copy: img(src=image_path+"top/top_head_copy.png" alt="エンタープライズのためのアプリ開発【PieceCrown】")
        .btn.btn--white
          a(href=root_path+"contact/index.html#contact") お問い合わせはこちら

      .top-img-area
        img#top-img.slide-bottom(src=image_path+"top/top_img.png" alt="")

  article.no-hero
    //特長セクション
    section.section.top-feature
      .content-width
        h2.section-title.section-title--feature: img(src=image_path+"top/section_title01.png" alt="PieceCrown 3つの特長")
        .top-feature-content.flex-box.flex-box--around
          .top-feature-list
            img(src=image_path+"top/feature_img01.png" alt="" data-plugin-options='{"speed":1000}').slide-bottom
            p.top-feature-list__title IoT
            p.top-feature-list__text
              |PieceCrownの他のアプリ開発にはない大きな特長として、IoTとの親和性があります。必要な情報をセンサーから取得し、
              |取得値に応じてアプリの出力を変更したり、特殊な情報をセンサーが検知した場合にアプリでユーザーに通知を送るなど、可能性は無限大。
              br
              |一般的なアプリ開発会社では、手を出しにくいIot分野との融合はPieceCrownならではの強みです。
          .top-feature-list
            img(src=image_path+"top/feature_img02.png" alt="" data-plugin-options='{"speed":1000}').slide-bottom.slide-bottom
            p.top-feature-list__title Analysis
            p.top-feature-list__text
              |アプリの詳細な利用分析ができます。ダウンロードはもちろんのこと、DAU、MAUなど、効果的な施策をするための指針となるデータを取得できます。
              br
              |データ取得・分析することで経営判断をサポートし、業績向上に貢献します。
          .top-feature-list
            img(src=image_path+"top/feature_img03.png" alt="" data-plugin-options='{"speed":1000}').slide-bottom
            p.top-feature-list__title Best UX
            p.top-feature-list__text
              |ネイティブアプリの実装による快適なユーザー体験も大きな特長です。
              br
              |ウェブサイトでは実現できないスムーズな読み込み・表示や、オフライン閲覧、ジェスチャーによる操作などを駆使することで、スマホでの最適な体験を顧客に届けることができます。
        .btn
          a(href=root_path+"feature/") 特長について詳しく見る

    //オムニチャネルセクション
    section.section.top-omni
      .content-width
        h2.section-title.section-title--left.section-title--white
          |オムニチャネルの中軸となる
          br.pc-none
          |アプリ戦略
        .top-omni-content.flex-box.flex-box--between.flex-box--sp-column
          .top-omni-text
            p
              |2017年の調査で、スマホからのネットワークアクセスがパソコンからのアクセス数を上回りました。この傾向はこれからも増加していきます。
              br
              |アプリを利用してたオムニチャネル展開の重要性は年々高まっています。
            .btn.btn--white
              a(href=root_path+"omni/") オムニチャネル戦略について詳しく見る
          .top-omni-img
            img(src=image_path+"top/omni_img01.png" alt="")

    //機能セクション
    section.section.top-function
      .content-width
        h2.section-title
          |ユーザー獲得の鍵となる
          br.pc-none
          |豊富な機能
        .top-function-content
          .top-function-text
            p
              |アプリに必要な機能は、業種・規模・戦略によって様々です。
              br.sp-none
              |PieceCrownでは、どのような企業にもフィットするように豊富な機能を準備しています。
              br
              |掲載している機能以外も、拡張開発いたしますので理想のアプリ開発のため、ぜひ一度ご相談ください。
            .btn.btn--center.btn--blue
              a(href=root_path+"function/") 機能紹介ページ
      .top-function-img
        ul
          li
            .top-function-icon: img(src=image_path+"top/func_icon_card.png")
            p ポイントカード
          li
            .top-function-icon: img(src=image_path+"top/func_icon_carry.png")
            p 配送確認
          li
            .top-function-icon: img(src=image_path+"top/func_icon_cart.png")
            p ショッピング
          li
            .top-function-icon: img(src=image_path+"top/func_icon_coupon.png")
            p クーポン
          li
            .top-function-icon: img(src=image_path+"top/func_icon_flyer.png")
            p フライヤー
          li
            .top-function-icon: img(src=image_path+"top/func_icon_map.png")
            p ジオマップ
          li
            .top-function-icon: img(src=image_path+"top/func_icon_notice.png")
            p お知らせ
          li
            .top-function-icon: img(src=image_path+"top/func_icon_stamp.png")
            p スタンプラリー

    //お客様の声
    //- section.section.top-voice
    //-   .content-width
    //-     h2.section-title.section-title-white
    //-     .top-voice-content
    //-       .top-voice-list
            //変更する予定なのであけておく。

    //コンタクトセクション
    //-コンタクトセクションをインクルード
    include ./template/_section_contact

  //フッター
  //-フッターセクションをインクルード
  include ./template/_footer
  .
    <script>
      if( device == 2 ){
        var img = document.getElementById("top-img");
        img.setAttribute("src", "./img/top/top_img_sp.png");
      }
    </script>




























