doctype html
html(lang="js")
  head
    - var title = "サイトタイトル";
    - var desc = "サイトの説明";
    - var keywords = "キーワード";
    - var url = "サイトのURL";
    - var ogImage = "og画像のパス";

    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title #[title]
    meta(name="keywords" content=kdywords)
    meta(name="description" content=desc)
   
    //- OGP
    meta(property="og:title" content=title)
    meta(property="og:type" content="website")
    meta(property="og:image" content=ogImage)
    meta(property="og:url" content=url)
    meta(property="og:description" content=desc)
    //- OGP Twitter Cards
    meta(name="twitter:card" content="summary")
    meta(name="twitter:site" content="@")

    link(href="../css/style.css" rel="stylesheet")

  body
    header

    article

    footer