.sp-nav-wrap
  .sp-toggle-wrap
    .sp-toggle
      span
      span
      span
  ul.sp-nav
    li.sp-nav__list-wrap
      a(href=root_path+"feature/").sp-nav__list PieceCrownの特長
    li.sp-nav__list-wrap
      a(href=root_path+"omni/").sp-nav__list オムニチャネル戦略
    li.sp-nav__list-wrap
      a(href=root_path+"iot/").sp-nav__list IoT連携
    li.sp-nav__list-wrap
      a(href=root_path+"function/").sp-nav__list 機能紹介
    li.sp-nav__list-wrap
      a(href=root_path+"case/").sp-nav__list 導入イメージ
    li.sp-nav__list-wrap
      a(href=root_path+"contact/").sp-nav__list お問い合わせ