.totop
  span.fa.fa-lg.fa-angle-up
footer.footer
  .footer-top
	.content-width.flex-box.flex-box--between.flex-box--tab-column
	  ul.footer-nav
		li: a(href=root_path+"") トップページ
		li: a(href=root_path+"feature/") PieceCrownの特長
		li: a(href=root_path+"omni/") オムニチャネル戦略
		li: a(href=root_path+"iot/") IoT連携
		li: a(href=root_path+"function/") 機能紹介
		li: a(href=root_path+"case/") 導入イメージ
		li: a(href=root_path+"contact/") お問い合わせ
	  ul.footer-nav--mini
		li: a(href="https://jokerpiece.co.jp/about/" target="_blank") 会社情報
		li /
		li: a(href="https://jokerpiece.co.jp/privacy/privacy.html" target="_blank") プライバシーポリシー
  .footer-bottom
	.content-width
	  .copyright
		p ©Copyright JokerPiece Co.,Ltd. All right reserved.

script(src=js_path+"jquery-3.2.0.min.js")
script(src=js_path+"jquery.fadethis.js")
//- script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery.pjax/2.0.1/jquery.pjax.min.js")
script(src=js_path+"common.js")
