header.header
  .content-width.flex-box.flex-box--between
	.logo-area
	  a(href=root_path): img(src=image_path+"common/logo.svg" alt="PieceCrown")
	nav.nav-area
	  ul
		li.nav.nav--feature: a(href=root_path+"feature/") PieceCrownの特長
		li.nav.nav--omni: a(href=root_path+"omni/") オムニチャネル戦略
		li.nav.nav--iot: a(href=root_path+"iot/") IoT連携
		li.nav.nav--function: a(href=root_path+"function/") 機能紹介
		li.nav.nav--case: a(href=root_path+"case/") 導入イメージ
		li.nav.nav--contact: a(href=root_path+"contact/") お問い合わせ