- var title = ""
- var description = ""
- var keyword = ""
- var url = ""
- var urlOgp = ""
- var urlTouch = ""
- var urlFavicon = ""


meta(charset="utf-8")
title #{title}
meta(name="viewport" content="width=device-width,initial-scale=1")
meta(http-equiv="X-UA-Compatible" content="IE=edge")
link(rel="canonical" href="#{url}")
link(rel="alternate" hreflang="ja" href="#{url}")
meta(name="keyword" content="#{keyword}")
meta(name="description" content="#{description}")
meta(property="og:title" content="#{title}")
meta(property="og:image" content="#{urlOgp}")
meta(property="og:image:type" content="image/jpeg") <!-- or png -->
meta(property="og:description" content="#{description}")
meta(property="og:site_name" content="#{title}")
meta(property="og:type" content="website") <!-- or article -->
meta(property="og:url" content="#{url}")
meta(name="twitter:card" content="summary_large_image")
meta(name="twitter:image:src" content="#{urlOgp}")
meta(name="twitter:title" content="#{title}")
meta(name="twitter:description" content="#{description}")
//- meta(property="fb:app_id" content="")
link(rel="apple-touch-icon-precomposed" href="#{urlTouch}")
link(rel="shortcut icon" href="#{urlFavicon}")
.
  <meta charset="utf-8">
  <title>〼〼〼〼</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="canonical" href="https://〼〼〼〼">
  <link rel="alternate" hreflang="ja" href="https://〼〼〼〼">
  <meta name="keyword" content="〼〼〼〼">
  <meta name="description" content="〼〼〼〼〼〼〼〼〼〼〼〼">
  <meta property="og:title" content="〼〼〼〼">
  <meta property="og:image" content="〼〼〼〼/ogp.jpg">
  <meta property="og:image:type" content="image/jpeg">
  <meta property="og:description" content="〼〼〼〼〼〼〼〼〼〼〼〼">
  <meta property="og:site_name" content="〼〼〼〼">
  <meta property="og:type" content="website〼〼or〼〼article">
  <meta property="og:url" content="https://〼〼〼〼">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:image:src" content="〼〼〼〼/ogp.jpg">
  <meta name="twitter:title" content="〼〼〼〼">
  <meta name="twitter:description" content="〼〼〼〼〼〼〼〼〼〼〼〼">
  <meta property="fb:app_id" content="xxxxxxxxxx">
  <link rel="apple-touch-icon-precomposed" href="〼〼〼〼/apple_touch.png">
  <link rel="shortcut icon" href="〼〼〼〼/favicon.ico" />